*.class

# Package Files #
*.jar
*.war

# gwt caches and compiled units #
jz-rest/war/[gwt project name]/
jz-rest/gwt-unitCache/
jz-rest/test-classes/
jz-rest/www-test/

# boilerplate generated classes #
jz-rest/apt_generated/

# application data
jz-rest/war/data/


# more caches and things from deploy #
jz-rest/war/WEB-INF/deploy/
jz-rest/war/WEB-INF/classes/

# App engine generated #
jz-rest/war/WEB-INF/appengine-generated/
